body{
    max-width: 900px;
    background-color: rgb(12, 32, 88);
}

header {
    background-image: url(space.png);
    margin: 25px;
    width: 850px;
    height: 450px;
}
h1 {
    position: absolute;
}
.container {
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 324px;
    background-color: rgb(202, 180, 150);
    padding: 25px;
}
.social {
    flex:1;
    width: 270px;
    border: 1px solid #000;
    margin-right: 10px;
    padding: 2px;
    line-height: 30px;
}
.office {
    flex:1;
    width: 270px;
    border: 1px solid #000;
    margin-right: 10px;
    margin-left: 10px;
    padding: 2px;
    line-height: 30px;
}
.info {
    flex:1;
    width: 270px;
    border: 1px solid #000;
    margin-left: 10px;
    padding: 2px;
    line-height: 30px;
}