body{
    font-size: 16px;
}
header{
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: rgb(1, 190, 90);
    color: #336455;
    margin-top: 3px;
    margin-bottom: 5px;
    line-height: 33px;
    margin-left: 2%;
    margin-right: 23%;
    border: 7px solid #039;
    padding: 1px;
}
footer{
    font-size: 6px;
    font-family: 'Times New Roman', Times, serif;
}