body{
    font-size: 16px;
}
header{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(8, 248, 100);
    color: #fff;
    margin-top:10px;
    margin-bottom: 15px;
    line-height: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #000;
    padding: 10px;
}
footer{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}