body{
    background: rgb(163, 140, 109);
}
header {
    background: rgb(33, 60, 211);
    padding:10px;
    height:150px;
    text-align:center;
    margin:0;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
}
main{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
#youtube {
    margin:5px;
    grid-column:1/3;
    justify-self: center;
    width:auto; 
    height:auto;
}
.listed {   
    grid-column:1/3;
    justify-self:center;
}
ul > li {
    list-style-type: none;
}

a {
    grid-column: 1/4;
    text-align:center;
    color: #000;
}
a:hover {
    color:#2b990f;
    background: #000;
}
.info {
    grid-column:1/3;
    justify-self: center;
}
p {
    margin:0;
}
@media (min-width:500px) {
    #youtube {
        width:560px; 
        height:315px;
    }
}
@media (min-width:900px) {
    #youtube {
        grid-column:1/2;
        width:600px; 
        height:350px;
    }
    .info {
        grid-row:1;
        grid-column:2/3;
    }
    .listed {   
        font-size:18px;
    }
}